<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="/backbone/jquery.js"></script>
    <script src="/backbone/underscore-umd.js"></script>
    <script src="/backbone/backbone.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Backbone JS</title>
</head>
<body>

<div class="container">
    <nav>
        <div class="nav-wrapper">
            <ul class="right">
                <li><a href="/">Store</a></li>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-s12">
            <h1>Web-store</h1>
        </div>
        <div id="app" class="col-s12">

        </div>
    </div>
</div>

<script type="application/javascript">

$(function() {

    // let Currency = Backbone.Model.extend({
    // });

    let Currencies = Backbone.Collection.extend({
        url: 'http://tt-a.loc/api/v1/currency',
        //model: Currency,
    });

    let currencies = new Currencies();

    // let PUT_model = currencies.create({"id":1,"usd":67,"eur":69});

    let AppView = Backbone.View.extend({
        el: $("#app"),
        template: _.template("<div>usd - <%- usd %></div><div>eur - <%- eur %></div>"),

        render: function(model) {
            this.$el.html(this.template(model.attributes));
            return this;
        }
    });

    let app = new AppView();

    currencies.fetch().then(() => {
        let model = _.findWhere(currencies.models, {id: 2})
        app.render(model);
    })

    setTimeout(() => { app.remove(); }, 3500);

})
</script>

</body>
</html>