.user-row.user-row--view .input {
    display: none;
}

.user-row.user-row--edit .input {
    display: initial;
}
.user-row.user-row--edit span {
    display: none;
}

.user-row--name {
    box-sizing: content-box;
    width: 520px;
}

.user-row--phone {
    box-sizing: content-box;
    width: 250px;
}