.input {
    position: relative;
    display: inline-block;
}

.input--full-width {
    width: 100%;
}

.input__input {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    width: calc(100% - 24px)
}

.input__error {
    position: absolute;
    left: 0;
    bottom: -14px;
    font-size: 10px;
    color: #c62828;
    white-space: nowrap;
}